<% layout('layouts/boilerplate.ejs') -%>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <!--campground[title] = everything gonna be stores as campground something  -->
            <input type="text" name="campground[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <!--campground[title] = everything gonna be stores as campground something  -->
            <input type="text" name="campground[location]" id="location">
        </div>
        <button type="submit">Add Campground</button>
    </form>
    <a href="/campgrounds">All campgrounds</a>
