<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portifolio/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link id="theme-style" rel="stylesheet" href="" type="text/css">

    <style>
        .main-container{
            margin-bottom: 10px;
        }
        .intro-wrapper{
            grid-template-columns: 1fr;
            display: block;
        }
        .main_img {
            width: 100%;
            height: auto;
        }
        .mobile_img{
            max-width: 435px;
            width: 100%;
            height: auto;
            
        }
        h2{
            text-align: center;
        }
        .mobile_version{
            text-align: center;
        }
    </style>
</head>

<body>

    <section class="section1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>A responsive webpage for a medical campaign related to vascular health.</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot"></div>
                        <div id="dot-2" class="browser-dot"></div>
                        <div id="dot-3" class="browser-dot"></div>
                    </div>
                    <ul id="navigation">
                        <li><a target="blank" href="/portifolioIndex">Back</a></li>
                    </ul>
                </div>
                <div class="desktop_version">
                    <img src="/portifolio/images/agosto_azul_vermelho.gif" alt="" class="main_img">
                </div>
                <hr>
                <h2>Mobile version</h2>
                <div class="mobile_version">
                    <img src="/portifolio/images/agosto_azul_vermelho_mobile.gif" alt="" class="mobile_img">
                </div>

            </div>
        </div>
    </section>


 
</body>

</html>